<div class="row">
  <div class="jumbotron col-md-10 col-md-offset-1">
    <h1><strong>Create New Player</strong></h1>
  </div>
</div>

<%= render 'form' %>
<br></br>
<div class="btn btn-lg btn-success col-md-offset-1">
	<%= link_to 'Back to Players', players_path %>
</div>